.wrapper {
  color: white;
  background: rgb(14, 114, 208);
  border-radius: 1.25rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .wrapper {
    color: white;
    background: rgb(14, 114, 208);
    border-radius: 1.25rem;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    width: 100%;
  }

  .WeatherSearch {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .WeatherProperties {
    margin-bottom: 3rem;
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    color: white;
    background: rgb(14, 114, 208);
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .WeatherSearch {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
  }

  .WeatherProperties {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    margin-right: 2.5rem;
  }
}

.WeatherApp {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.WeatherMain {
  max-width: 70%;
}

.WeatherApp {
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.location {
  width: 0.79rem;
  color: white;
  position: 50%, 50%;
}

input[type="search"]::-ms-clear {
  width: 0;
  height: 0;
  display: none;
}
input[type="search"]::-ms-reveal {
  width: 0;
  height: 0;
  display: none;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.WeatherApp .form {
  margin-top: 0rem;
  box-shadow: 10px 10px 90px 10px rgba(0, 0, 0, 0.1);
}

.WeatherApp .form button {
  margin-left: 0.3rem;
  box-shadow: 10px 10px 90px 10px rgba(0, 0, 0, 0.1);
}

.SearchButton {
  color: white;
  border: 0.15rem solid rgba(255, 255, 255, 0.193);
  background: rgba(255, 255, 255, 0.193);
  padding-top: 0.5rem;
}

.Weather .WeatherApp .Now {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.WeatherApp .SearchButton:hover {
  color: white;
  border: 0.15rem solid rgba(255, 255, 255, 0.193);
  background: rgba(14, 114, 208, 0.33);
}

.PlaceInfo {
  align-items: start;
}

.PlaceInfo ul {
  display: block;
  text-align: left;
  list-style: none;
  line-height: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.PlaceInfo-city {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.WeatherTemperature {
  align-items: center;
}

.WeatherTemperature ul {
  margin: 0 auto;
  display: inline;
  list-style: none;
}

.WeatherTemperature li {
  margin: 0;
  padding: 0;
  display: inline;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.MainWeatherIcon img {
  width: 7.5rem;
  margin-top: 2.8rem;
  margin-left: 1rem;
}

.MainWeatherDegrees {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  display: inline;
  font-size: 8rem;
  font-weight: 200;
}

.WeatherDegrees .MainTemperatureUnits {
  left: 9rem;
  color: rgb(255, 255, 255);
  bottom: 9rem;
  display: block;
  position: relative;
  font-size: 1.2rem;
  font-weight: 300;
}

.MainTemperatureUnits:hover {
  cursor: pointer;
}

.WeatherProperties ul {
  list-style: none;
  font-weight: 350;
  line-height: 3rem;
}

.WeatherProperties .Properties {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.WeatherProperties .TemperaturePropertiesIcon {
  width: 1.7rem;
}

.WeatherProperties .FeelsLikeIcon {
  width: 0.7rem;
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}

.Forecast {
  margin-top: 0;
  margin-bottom: 2rem;
}

.ForecastElement {
  margin-top: 1rem;
}

.ForecastDate {
  font-size: 1rem;
  text-align: center;
  font-weight: 350;
  letter-spacing: 0.1rem;
}

.ForecastDate span {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.ForecastTemperature {
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.Forecast .MaxTemperature {
  font-weight: 550;
}

.Forecast .MinTemperature {
  font-weight: 250;
}

.Forecast img {
  width: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

footer {
  color: rgb(70, 70, 70);
  font-size: smaller;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

footer .Link {
  font-weight: bold;
}

footer .Link:hover {
  cursor: pointer;
}

.Loader {
  display: block;
  margin: 0 auto;
  text-align: center;
}
