@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .WeatherApp-search {
    order: 1;
  }
  .WeatherApp-main {
    order: 2;
  }
  .WeatherApp-aside-1 {
    order: 3;
  }
  .WeatherApp-aside-2 {
    order: 4;
  }
  .WeatherApp-forecast {
    order: 5;
  }
  .WeatherApp-footer {
    order: 6;
  }
}
