.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font-weight: bold;
}

.wrapper > * {
  flex: 1 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .WeatherApp-search {
    order: 1;
  }
  .WeatherApp-main {
    order: 2;
  }
  .WeatherApp-aside-1 {
    order: 3;
  }
  .WeatherApp-aside-2 {
    order: 4;
  }
  .WeatherApp-forecast {
    order: 5;
  }
  .WeatherApp-footer {
    order: 6;
  }

  .WeatherApp {
    max-height: 38rem;
  }
}

.WeatherApp {
  color: rgb(255, 255, 255);
  border: 0.06rem solid #dadde1;
  border-radius: 1.25rem;
  background-color: rgb(14, 114, 208);
}

.WeatherApp .form {
  flex: 0.5;
  position: relative;
}

input[type="search"]::-ms-clear {
  width: 0;
  height: 0;
  display: none;
}
input[type="search"]::-ms-reveal {
  width: 0;
  height: 0;
  display: none;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.WeatherApp .form button {
  display: flex;
  margin-left: 1rem;
}

.SearchButton {
  color: white;
  border: 0.15rem solid rgba(255, 255, 255, 0.193);
  display: inline-block;
  background: rgba(255, 255, 255, 0.193);
}

.Weather .WeatherApp .Now {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.WeatherApp .SearchButton:hover {
  color: white;
  border: 0.15rem solid rgba(255, 255, 255, 0.193);
  background: rgba(14, 114, 208, 0.33);
}

.PlaceInfo {
  align-items: start;
}

.PlaceInfo ul {
  display: block;
  text-align: left;
  list-style: none;
  line-height: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.PlaceInfo-city {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.WeatherTemperature {
  align-items: center;
}

.WeatherTemperature ul {
  margin: 0 auto;
  display: inline;
  list-style: none;
}

.WeatherTemperature li {
  margin: 0;
  padding: 0;
  display: inline;
  flex-grow: 3;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.MainWeatherIcon img {
  width: 7.5rem;
  margin-top: 2.8rem;
  margin-left: 1rem;
}

.MainWeatherDegrees {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  display: inline;
  font-size: 8rem;
  font-weight: 200;
}

.WeatherDegrees .MainTemperatureUnits {
  left: 7rem;
  color: rgb(255, 255, 255);
  bottom: 8.5rem;
  display: block;
  position: relative;
  font-size: 1.2rem;
  font-weight: 300;
}

.MainTemperatureUnits:hover {
  cursor: pointer;
}

.WeatherProperties ul {
  list-style: none;
  font-weight: 350;
  line-height: 3rem;
}

.WeatherProperties {
  margin-bottom: 3rem;
}

.WeatherProperties .Properties {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.WeatherProperties .TemperaturePropertiesIcon {
  width: 1.7rem;
}

.WeatherProperties .FeelsLikeIcon {
  width: 0.7rem;
}

.Forecast {
  margin-top: -4rem;
}

.ForecastItem {
  padding: 1rem;
}

.Forecast h3 {
  font-size: 1rem;
  font-weight: 350;
  text-align: center;
  letter-spacing: 0.1rem;
}

.ForecastTemperature {
  margin-top: 2rem;
}

.Forecast .MinTemperature {
  font-weight: 250;
}

.ForecastIcon {
  position: absolute;
}

.Forecast img {
  width: 3rem;
}

.Forecast ul {
  margin: 0;
  padding: 0;
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer {
  font-size: smaller;
  letter-spacing: 0.1rem;
  color: rgb(70, 70, 70);
}

footer .Link {
  font-weight: bold;
}

footer .Link:hover {
  cursor: pointer;
}
